JSON-RPC client-server should support persistent connection

Current behavior:
* JSON-RPC client always open/close connection per single message

Expected behavior:
* [Persistent Connection](http://en.wikipedia.org/wiki/HTTP_persistent_connection)

From RFC2616 section 8.1.1
        Persistent HTTP connections have a number of advantages:

      - By opening and closing fewer TCP connections, CPU time is saved
        in routers and hosts (clients, servers, proxies, gateways,
        tunnels, or caches), and memory used for TCP protocol control
        blocks can be saved in hosts.

      - HTTP requests and responses can be pipelined on a connection.
        Pipelining allows a client to make multiple requests without
        waiting for each response, allowing a single TCP connection to
        be used much more efficiently, with much lower elapsed time.

      - Network congestion is reduced by reducing the number of packets
        caused by TCP opens, and by allowing TCP sufficient time to
        determine the congestion state of the network.

      - Latency on subsequent requests is reduced since there is no time
        spent in TCP's connection opening handshake.

      - HTTP can evolve more gracefully, since errors can be reported
        without the penalty of closing the TCP connection. Clients using
        future versions of HTTP might optimistically try a new feature,
        but if communicating with an older server, retry with old
        semantics after an error is reported.

        HTTP implementations SHOULD implement persistent connections.:




I will implement this enhancement. And release it with next version.

:+1 

Please not that this fix destroys thread safety for HttpClient. 

If you need concurrent HTTP calls, I would suggest implement either a new subclass which does the synchronization or have several instances of client stubs with corresponding HttpClients.